main{
  display: flex;
  height: 76.94vh;
}
.main-container{
    width: 67.4vw;
    height: 100%;
    background-color: #121212;
    border-radius: 8px;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

/*SCROLL BAR*/
.main-container::-webkit-scrollbar{
  width: 0.7rem;
}
.main-container::-webkit-scrollbar-track{
  background: transparent;
}
.main-container::-webkit-scrollbar-thumb {
  transition: background-color 1.5s ease-in-out;
  background-color: rgba(183, 182, 182, 0.4);
}
.main-container::-webkit-scrollbar-thumb:hover {
  background: rgb(183, 182, 182);
}

.artists-container{
  background: linear-gradient(rgb(35, 35, 35) 0, #121212 100%);
  height: 45.87vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1.5rem 0;
}

.container__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-left: 1.3rem;
}

.container__header-title{
  color: white;
  font-size: 1.5rem;
}

.container__show-more{
  margin-top: 0.7rem;
  margin-right: 1.7rem;
}

.container__show-more a{
  color: var(--input-color);
  font-weight: 700;
  font-size: 0.8rem;
}

.container__show-more a:hover{
  text-decoration: underline;
}

.container__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.5rem;
  overflow: hidden;
}

.container__row .row-item{
  min-width: fit-content;
  position: relative;
  border-radius: 0.4rem;
  transition: background 1s ease-in-out;
  padding: 0.7rem;
}
.container__row .row-item:hover{
  background: linear-gradient(rgba(31, 31, 31, 0.5) 0, #2f2f2f89 100%);
}

.container__row .row-item:hover .play{
  opacity: 1;
  transform: translateY(0);
}

.artists-container .container__row .row-item .row-img{
  position: relative;
  min-width: 11.42vw;
  width: 11.42vw;
  border-radius: 100%;
  margin-bottom: 0.7rem;
  box-shadow: 5px 15px 40px #030303ac;
  z-index: 0;
}
.container__row .row-item .row-info{
  display: flex;
  flex-direction: column;
}
.container__row .row-item .row-info .text{
  color: white;
  font-weight: 600;
  font-size: 0.95rem;
}
.container__row .row-item .row-info .name{
  margin-bottom: 0.8rem;
}
.container__row .row-item .row-info .category{
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(218, 212, 212, 0.538);
}

.singles-container{
  margin-top: 1.6rem;
  padding: 1.5rem 0;
}
.singles-container .container__row .row-item .row-img{
  width: 11.42vw;
  position: relative;
  border-radius: 0.4rem;
  margin-bottom: 0.7rem;
  box-shadow: 5px 15px 40px #030303ac;
  z-index: 0;
}

.singles-container .container__row .row-item .row-info .artist-name{
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(218, 212, 212, 0.538);
}

.container__row .row-item .play{
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #1db954;
  border-radius: 100%;
  box-shadow: 5px 15px 40px #030303ac;
  position: absolute;
  z-index: 2;
  top: 7rem;
  left: 7rem;
  transform: translateY(0.5rem);
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.container__row .row-item .play:hover{
  background-color: #42c771;
  transform: scale(1.06);
}
.container__row .row-item .play .play-icon{
  margin-left: 0.19rem;
  border-radius: none;
  box-shadow: none;
  width: 1rem;
}

.playlist-container{
    top: 2.7rem;
    left: 25rem;
    height: 100%;    
    padding: 16px;
}

.playlist{
    margin: 24px;
}
.playlist #greeting{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}
.playlist .session{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.offer__scroll-container{
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
}
.offer__list-item{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin-bottom: 16px;
}
.cards{
    position: relative;
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}
.cards span{
    padding: 16px;
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.card1 {
    background-color: rgb(0, 100, 80);
}
.card2 {
    background-color: rgb(132, 0, 231);
}
.card3 {
    background: rgb(30, 50, 100);
}
.card4 {
    background: rgb(140, 25, 50);
}
.card5 {
    background: rgb(232, 17, 91);
}
.offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
}

.artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
  }
  
  .hidden {
    display: none;
  }

  .grid-container {
    grid-gap:24px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    min-width: 767px;
  }
  
  .artist-card {
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .artist-card:hover {
    background-color: #252525;
  }
  
  .card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
  }
  
  .card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
}
.artist-categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
  }
  
  .play {
    position: relative;
  }
  
  .play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
  }
  
  .artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
  }
  
  #result-artist {
    padding: 20px 40px;
  }

