@media screen and (max-width: 1015px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr;
  }   
}


/*Header*/
@media screen and (max-width: 1150px) {
  .header__navigation .header__search{
    width: 12vw;
    min-width: 12vw;
    transition: width .3s ease;
  }
  .header__navigation .header__search #search-input, .header__navigation .header__search .explore-link{
    display: none;
    transition: display .3s ease;
  }
  .flex-grow{
    flex-grow: 0;
  }
  .header__navigation .header__search:focus #search-input, .header__navigation .header__search:focus .explore-link{
    display: flex;
    transition: display .3s ease;
  }
  .header__navigation .header__search:focus{
    width: fit-content;
    transition: width 3s ease;
  }
}
@media screen and (max-width: 860px) {
  nav.header__navigation .navigation-container__links{
    display: none;
  }
  .nav-bars {
    display: flex;
  }
}

@media screen and (min-height: 986px) {
  .section__playlist{
    justify-content: flex-start; 
  }
}
@media screen and (min-height: 724px) {
  .library__navigation{
    margin-top: auto;
  }
}