.sidebar{
    padding: 0 0.5rem;
    width: 33vw;
    height: 75vh;
}

.library{
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 4px 0px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 1rem;
    height: 100%;
}

.library .library__content{
    display: flex;
    justify-content: space-between;
}

.library .library__button{
    display: flex;
    margin-left: 0.9rem;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: 0;
    padding: 20px 10px;
}
.library .library__button .fa{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}
.library .library__content .fa-plus{
    margin: 24px 1.5rem;
}

.section__playlist{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap:20px;  
    color: #b3b3b3;
    margin: 8px 8px;
    height: 32vh;
    overflow: hidden;
    scrollbar-gutter: stable;
}
.section__playlist:hover{
    overflow: overlay; 
}

.section__playlist::-webkit-scrollbar{
    width: 0.7rem;
}
.section__playlist::-webkit-scrollbar-track{
    background: transparent;
}
.section__playlist::-webkit-scrollbar-thumb {
    transition: background-color 1.5s ease-in-out;
    background-color: rgba(183, 182, 182, 0.4);
}
.section__playlist::-webkit-scrollbar-thumb:hover {
    background: rgb(183, 182, 182);
}
    
.section__playlist .section__playlist__content{
    display: flex;
    flex-direction: column;
    background-color: #202020;
    border-radius: 0.5rem;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
}

.section__playlist__content .text{
    padding-bottom: 14px;
    color: #fff;
}
.section__playlist__content .title{
    font-weight: 700;
}
.section__playlist__content .subtitle{
    font-weight: 500;
    font-size: 12px;
}
.section__playlist__content .section__playlist__button{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 900;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: fit-content;   
}

.library__navigation{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    padding: 0 1.2rem;   
}
.library__navigation li{
    width: fit-content;
    margin-right: 1rem;
    margin-bottom: 0.8rem;
}
.library__navigation li a{
    font-size: 0.7rem;
    font-weight: 100;
    color: var(--input-color);
}

.library .cookies{
    margin: 0 20px;
}
.library .cookies a{
    color: #f6f6f6;
    font-weight: 500;
    font-size: 0.75rem;
    text-decoration: none;
}
.library .cookies a:hover{
    text-decoration: underline;
}

.languages{
    margin-left: 0.6rem;
    margin-top: 1rem;
}
.languages .languages__button{
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}
footer{
    width: 99vw;
    position: fixed;
    bottom: 0.4rem;
    left: 0.5rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgb(180, 14, 177) 0%, rgb(18, 21, 184) 100%);
}
footer .footer__content{
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
}
.footer__content .text{
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
}
.footer__content .title{
    color: #fff;
    text-transform: uppercase;
}
footer .footer__button{
    background-color: white;
    margin: 10px 30px;
    border-radius: 20px;
    padding: 10px 20px;
}
footer .footer__button span{
    font-weight: 700;
    font-size: 14px;
}