:root{
    /* FONT */
    --font-dm-sans: 'DM Sans', sans-serif;

    /* COLORS */
    --bg-icon: #131313;
    --bg-search: #353535;  
    --input-color: #ffffffc2; 
    --bg-arrow-color: rgba(0,0,0,07)
 
}